.zodiac-contanier {
    display: block;
}

.aspect-domain {
    position: fixed;
    width: 95%;
}

.aspect-domain svg {
    position: relative
}

.zodiac-strip {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2.5rem 0;
}

.sign-domain {
    display: flex;
    flex-direction: column;
    width: 8.33%;
    justify-content: center;
    border-right: 2pt solid lemonchiffon;
}

.sign-domain:last-child {
    border: none;
}

.sign-domain .glyph {
    align-self: center;
    padding: 1rem;
    transition: all 300ms;
    overflow: visible;
}

/* extrude */
.sign-domain .glyph:hover {
    transform: translate(-1pt, -1pt);
    filter: drop-shadow(1pt 1pt 0);
}